/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-baskerville { font-family: "Ubuntu", sans-serif; }
.typ-baskerville h1, .typ-baskerville h2, .typ-baskerville h3, .typ-baskerville h4, .typ-baskerville h5, .typ-baskerville h6 { font-family: "Libre Baskerville", serif; }
.typ-baskerville .site-slogan { font-family: Ubuntu, sans-serif; }
.typ-baskerville .block h2.block-title { font-family: "Libre Baskerville", serif; font-size: 120%; }
.typ-baskerville #page-title { font-family: "Libre Baskerville", serif; /*font-size:*/ /*font-weight:*/ }
.typ-baskerville #main-menu li a { font-family: "Libre Baskerville", serif; font-size: 90%; }
.typ-baskerville .view-display-id-block_bigslides .views-field-title a, .typ-baskerville .view-display-id-block_bigslides .views-field-name a { font-family: "Libre Baskerville", serif; /*font-size:*/ }
