/* Document   : bree Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bree and Imprima typography for prograde theme.
*/
.typ-bree { font-family: Imprima, sans-serif; }
.typ-bree h1, .typ-bree h2, .typ-bree h3, .typ-bree h4, .typ-bree h5, .typ-bree h6 { font-family: "Bree Serif", serif; }
.typ-bree .block h2.block-title { font-family: Imprima, sans-serif; font-size: 110%; font-style: italic; }
.typ-bree #page-title { font-family: "Bree Serif", serif; /*font-size:*/ /*font-weight:*/ }
.typ-bree #main-menu { font-size: 84%; }
.typ-bree #main-menu li a { font-family: Imprima, sansserif; }
.typ-bree .view-display-id-block_bigslides .views-field-title a, .typ-bree .view-display-id-block_bigslides .views-field-name a { font-family: Imprima, sans-serif; /*font-size:*/ }
