/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-josefin { font-family: "Maven Pro", sans-serif; }
.typ-josefin h1, .typ-josefin h2, .typ-josefin h3, .typ-josefin h4, .typ-josefin h5, .typ-josefin h6 { font-family: "Maven Pro", serif; font-weight: bold; }
.typ-josefin .block h2.block-title { font-family: "Josefin Slab"; }
.typ-josefin #page-title { font-family: "Josefin Slab"; /*font-size:*/ /*font-weight:*/ }
.typ-josefin #main-menu li a { font-family: "Maven Pro", sans-serif; font-weight: bold; font-size: 90%; }
.typ-josefin .view-display-id-block_bigslides .views-field-title a, .typ-josefin .view-display-id-block_bigslides .views-field-name a { font-family: "Josefin Slab", sans-serif; }
