/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-modern { font-family: Gafata, Arial, sans-serif; }
.typ-modern h1, .typ-modern h2, .typ-modern h3, .typ-modern h4, .typ-modern h5, .typ-modern h6 { font-family: "Julius Sans One", sans-serif; }
.typ-modern .site-name { font-size: 200%; }
.typ-modern .site-slogan { font-family: Gafata, Arial, sans-serif; letter-spacing: .05em; }
.typ-modern h2.block-title { font-family: Economica, "Arial Narrow", Arial, sans-serif; }
.typ-modern #page-title { font-family: "Julius Sans One", sans-serif; /*font-size:*/ /*font-weight:*/ }
.typ-modern ul.main-menu li { font-size: 135%; }
.typ-modern #main-menu li a { font-family: Economica, "Arial Narrow", Arial, sans-serif; }
.typ-modern .view-display-id-block_bigslides .views-field-title a, .typ-modern .view-display-id-block_bigslides .views-field-name a { font-family: Gafata, Arial, sans-serif; /*font-size:*/ }
