/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-montserrat { font-family: "Pontano Sans", sans-serif; }
.typ-montserrat h1, .typ-montserrat h2, .typ-montserrat h3, .typ-montserrat h4, .typ-montserrat h5, .typ-montserrat h6 { font-family: Montserrat, sans-serif; font-variant: small-caps; }
.typ-montserrat .site-name { line-height: .8em; }
.typ-montserrat .site-slogan { font-family: "Pontano Sans", sans-serif; font-variant: normal; letter-spacing: .06em; margin-top: .2em; }
.typ-montserrat .block h2.block-title { font-size: 110%; }
.typ-montserrat #page-title { font-family: Montserrat, sans-serif; /*font-size:*/ /*font-weight:*/ }
.typ-montserrat #main-menu li a { font-family: Montserrat, sans-serif; font-size: 90%; }
.typ-montserrat .view-display-id-block_bigslides .views-field-title a, .typ-montserrat .view-display-id-block_bigslides .views-field-name a { font-family: Montserrat, sans-serif; font-variant: small-caps; /*font-size:*/ }
