/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-newsy { font-family: Georgia, "Times New Roman", Times, serif; }
.typ-newsy h1, .typ-newsy h2, .typ-newsy h3, .typ-newsy h4, .typ-newsy h5, .typ-newsy h6 { font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; }
.typ-newsy .site-name { font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif; font-variant: small-caps; font-size: 220%; }
.typ-newsy .site-slogan { font-weight: normal; }
.typ-newsy .block h2.block-title { font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif; font-weight: normal; font-size: 120%; }
.typ-newsy #page-title { font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif; font-variant: small-caps; /*font-size:*/ /*font-weight:*/ }
.typ-newsy #main-menu li a { font-family: Georgia, "Times New Roman", Times, serif; }
.typ-newsy .block { font-family: "Arial Narrow", Arial, sans-serif; }
.typ-newsy .view-display-id-block_bigslides .views-field-title a, .typ-newsy .view-display-id-block_bigslides .views-field-name a { font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif; font-variant: small-caps; }
.typ-newsy button, .typ-newsy .more-link a, .typ-newsy a.more-link, .typ-newsy input[type="reset"], .typ-newsy input[type="submit"], .typ-newsy input[type="button"] { font-family: "Arial Narrow", Arial, sans-serif; }
