/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-oswald { font-family: Muli, sans-serif; }
.typ-oswald h1, .typ-oswald h2, .typ-oswald h3, .typ-oswald h4, .typ-oswald h5, .typ-oswald h6 { font-family: Oswald, sans-serif; }
.typ-oswald .site-name { font-size: 200%; margin-bottom: .15em; }
.typ-oswald .site-slogan { font-family: Muli, sans-serif; }
.typ-oswald #page-title { font-family: Oswald, sans-serif; /*font-size:*/ /*font-weight:*/ }
.typ-oswald #main-menu li a { font-family: Oswald, sans-serif; }
.typ-oswald .view-display-id-block_bigslides .views-field-title a, .typ-oswald .view-display-id-block_bigslides .views-field-name a { font-family: Muli, sans-serif; font-weight: bold; /*font-size:*/ }
