/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-paytone { font-family: "Droid Sans", sans-serif; }
.typ-paytone .region-content .block { line-height: 1.6em; }
.typ-paytone h1, .typ-paytone h2 { font-family: "Paytone One", serif; font-weight: normal; }
.typ-paytone h3, .typ-paytone h4, .typ-paytone h5, .typ-paytone h6 { font-family: "Droid Sans", sans-serif; font-weight: bold; }
.typ-paytone .site-name { margin-bottom: .2em; }
.typ-paytone .block h2.block-title { font-size: 120%; }
.typ-paytone #page-title { font-family: "Paytone One", serif; /*font-size:*/ /*font-weight:*/ }
.typ-paytone #main-menu li a { font-family: "Droid Sans", sans-serif; }
.typ-paytone .view-display-id-block_bigslides .views-field-title a, .typ-paytone .view-display-id-block_bigslides .views-field-name a { font-family: "Droid Sans", sans-serif; font-weight: bold; font-size: 140%; }
