/* Document   : prograde Created on : Sep 16, 2013, 10:46:55 AM Author     : david Description: Original typography for prograde theme
*/
.typ-prograde { font-family: 'Noto Serif', 'Times New Roman', Times, serif; }
.typ-prograde h1, .typ-prograde h2, .typ-prograde h3, .typ-prograde h4, .typ-prograde h5, .typ-prograde h6 { font-family: 'Roboto Slab', arial, sans-serif; }
.typ-prograde #page-title { font-family: 'Roboto Slab', arial, sans-serif; /*font-size:*/ /*font-weight:*/ }
.typ-prograde #main-menu li a { font-family: 'Roboto Slab', arial, sans-serif; }
.typ-prograde .view-display-id-block_bigslides .views-field-name a { font-family: 'Roboto Slab', arial, sans-serif; /*font-size:*/ }
