/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-pt { font-family: "PT Sans", sans-serif; }
.typ-pt h1, .typ-pt h2, .typ-pt h3, .typ-pt h4, .typ-pt h5, .typ-pt h6 { font-family: "PT Serif Caption", serif; }
.typ-pt .site-slogan { font-family: "PT Sans", sans-serif; letter-spacing: .05em; }
.typ-pt #page-title { font-family: "PT Serif Caption", serif; /*font-size:*/ /*font-weight:*/ }
.typ-pt #main-menu li a { font-family: "PT Serif Caption", serif; font-size: 85%; }
.typ-pt .view-display-id-block_bigslides .views-field-title a, .typ-pt .view-display-id-block_bigslides .views-field-name a { font-family: "PT Sans", sans-serif; font-size: 180%; }
