/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-robotoworld { font-family: Roboto, sans-serif; }
.typ-robotoworld h1, .typ-robotoworld h2, .typ-robotoworld h3, .typ-robotoworld h4, .typ-robotoworld h5, .typ-robotoworld h6 { font-family: Roboto, sans-serif; font-weight: bold; }
.typ-robotoworld h1, .typ-robotoworld h2 { font-variant: small-caps; }
.typ-robotoworld .site-name { margin-bottom: .1em; font-variant: normal; }
.typ-robotoworld .site-slogan { font-style: italic; font-variant: normal; }
.typ-robotoworld #page-title { font-family: Roboto, sans-serif; /*font-size:*/ /*font-weight:*/ }
.typ-robotoworld #main-menu li a { font-family: Roboto, sans-serif; font-variant: small-caps; font-size: 95%; }
.typ-robotoworld .view-display-id-block_bigslides .views-field-title a, .typ-robotoworld .view-display-id-block_bigslides .views-field-name a { font-family: Roboto, sans-serif; font-size: 160%; }
