/* Document   : bartik Created on : Sep 16, 2013, 10:11:37 AM Author     : david Description: Bartik-style typography for prograde theme.
*/
.typ-vollkorn { font-family: Raleway, sans-serif; }
.typ-vollkorn h1, .typ-vollkorn h2, .typ-vollkorn h3, .typ-vollkorn h4, .typ-vollkorn h5, .typ-vollkorn h6 { font-family: Vollkorn, serif; }
.typ-vollkorn .site-slogan { font-family: Raleway, sans-serif; }
.typ-vollkorn #page-title { font-family: Vollkorn, serif; /*font-size:*/ /*font-weight:*/ }
.typ-vollkorn #main-menu li a { font-family: Vollkorn, serif; }
.typ-vollkorn .view-display-id-block_bigslides .views-field-title a, .typ-vollkorn .view-display-id-block_bigslides .views-field-name a { font-family: Raleway, sans-serif; font-size: 180%; }
