html { margin: 0; padding: 0; width: 100%; height: 100%; }

body { font-family: Georgia, "Times New Roman", Times, serif; line-height: 1.8em; height: 100%; position: relative; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 150%; line-height: 1.2em; margin-bottom: .8em; margin-top: 0.8em; letter-spacing: 0; }
h1.title, h1.node-title, h1.block-title, h2.title, h2.node-title, h2.block-title, h3.title, h3.node-title, h3.block-title, h4.title, h4.node-title, h4.block-title, h5.title, h5.node-title, h5.block-title, h6.title, h6.node-title, h6.block-title { margin-top: 0; }

h1, h2, h3 { font-weight: bold; }

h1 { font-size: 260%; }
h1.site-name { font-size: 200%; }

h2 { font-size: 200%; }

#page-title { font-size: 220%; margin-bottom: .5em; }

a { -moz-transition-property: background, background-color, color; -o-transition-property: background, background-color, color; -webkit-transition-property: background, background-color, color; transition-property: background, background-color, color; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; font-weight: bold; }
a:link, a:visited, a:hover, a:active { text-decoration: none; }

img { max-width: 100%; height: auto; }

p { margin: 0 0 .8em 0; }

ul, ol { margin-bottom: 1.25em; margin-top: 1.25em; padding-top: 0; padding-left: 1.25em; }
ul li, ol li { line-height: 1.4em; padding: 0; margin: .2em 0; }

ul li, .item-list ul li { list-style: disc inside; }

ol li, .item-list ol li { list-style: decimal inside; }

.item-list ul li, .item-list ol li { list-style-position: outside; }

.node ol, .node ul { padding-left: 1.25em; }

ul ul, ol ol { padding-top: 0; }

table { background: none; border: none; width: 100%; }
table thead { border-bottom-width: 2px; border-bottom-style: solid; font-weight: bold; }
table tr { border-bottom-width: 1px; border-bottom-style: solid; background: none; }
table th, table td { border: none; background: none; padding: .4em; }

.form-item { margin-top: 1.4em; margin-bottom: 1.4em; clear: both; }
.form-item label { font-weight: bold; padding-bottom: .4em; font-size: 109%; }
.form-item label.option { font-weight: normal; font-size: 100%; }

.form-actions { margin-top: 1.67em; margin-bottom: 1.67em; clear: both; }

.form-item .description { font-size: 85%; line-height: 1.1em; }

html { font-size: 12px; }

.zone-menu-wrapper, .zone-user-wrapper { display: none; }

.branding-data { padding: 2em 0; }

.logo-img { margin-right: 0; }
.logo-img img { max-width: 40px; height: auto; }
.logo-img.default { margin-top: -.4em; }
.logo-img.overlay { position: absolute; top: 9px; left: 0; z-index: 0; opacity: .5; }

.site-name-slogan { font-size: 70%; padding: 0; float: none; position: relative; margin-left: 2em; }

.site-name { font-weight: bold; margin: 0; }

.site-slogan { font-weight: normal; margin: 0; }

#breadcrumb { display: none; }

.section-footer { font-size: 90%; padding-top: 1.67em; padding-bottom: 1.67em; }
.section-footer .block { line-height: 1.2em; }
.section-footer .block.block-copyright, .section-footer .block.block-menu-footer { line-height: 1.1em; font-size: 90%; }
.section-footer .block.block-copyright .block-title, .section-footer .block.block-menu-footer .block-title { display: none; }
.section-footer .block.block-copyright ul, .section-footer .block.block-menu-footer ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.section-footer .block.block-copyright ul li, .section-footer .block.block-menu-footer ul li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; float: left; padding-left: 0.8em; padding-right: 0.8em; }
.section-footer .block.block-copyright ul li:first-child, .section-footer .block.block-menu-footer ul li:first-child { padding-left: 0; }
.section-footer .block.block-copyright ul li:last-child, .section-footer .block.block-menu-footer ul li:last-child { padding-right: 0; }
.section-footer .block.block-copyright ul li.last, .section-footer .block.block-menu-footer ul li.last { padding-right: 0; }

.section-content { position: relative; z-index: 2; }
.section-content .zone-content-wrapper { padding-top: 1.25em; padding-bottom: 6em; position: relative; }

.main-menu-block .navigation, .section-content .block { line-height: 1.2em; border-style: solid; border-width: 1px; background-repeat: repeat; padding: 20px; margin-bottom: 1.4em; }
.main-menu-block .navigation .block-title, .section-content .block .block-title { font-size: 150%; font-weight: bold; }
.main-menu-block .navigation .content, .section-content .block .content { clear: both; }

.views-row { height: 100%; overflow: hidden; margin-bottom: .6em; padding-bottom: .6em; border-bottom-style: solid; border-bottom-width: 1px; }
.views-row.views-row-last { border-bottom-style: none; border-bottom-width: 0; }

.view-grouped .views-row { border-bottom-style: none; border-bottom-width: 0; }

.view-content h3 { margin-bottom: .6em; }

.views_slideshow_cycle_main .views-row { border-bottom-style: none; border-bottom-width: 0; margin-bottom: 0; padding-bottom: 0; }
.views_slideshow_cycle_main .views-row .node-teaser { margin-bottom: 0; }

body a.more-link, body .more-link a { display: inline-block; height: 2.2em; line-height: 2.2em; padding: 0 0.9em; border: none; filter: none; text-shadow: none; border-radius: 0; font-size: 90%; font-weight: bold; }

.feed-icon { text-align: right; }

#block-views-recent-stories-block-bigslides, #block-views-core-activities-block-bigslides { border: none; padding: 0; background: none; }
#block-views-recent-stories-block-bigslides .block-title, #block-views-core-activities-block-bigslides .block-title { display: none; }

.view-display-id-block_slides .views-slideshow-controls-text { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.view-display-id-block_slides:hover .views-slideshow-controls-text { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.view-display-id-block_slides .views-slideshow-controls-text span.views-slideshow-controls-text-previous { left: 0; }
.view-display-id-block_slides .views-slideshow-controls-text span.views-slideshow-controls-text-next { right: 0; }

.view-display-id-block_bigslides .views-slideshow-cycle-main-frame-row-item { margin: 0; padding: 0; }
.view-display-id-block_bigslides .views_slideshow_cycle_main { max-width: 10000px; }
.view-display-id-block_bigslides .views-slideshow-controls-text { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.view-display-id-block_bigslides:hover .views-slideshow-controls-text { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.view-display-id-block_bigslides .views-field-title, .view-display-id-block_bigslides .views-field-name { margin: 0; padding: 0; background: url(../images/slider/slider_caption_bg.png) repeat 0 0; position: absolute; bottom: 0; left: 0; width: 100%; }
.view-display-id-block_bigslides .views-field-title .field-content, .view-display-id-block_bigslides .views-field-name .field-content { display: block; padding: 1.25em 1.66em; }
.view-display-id-block_bigslides .views-field-title a, .view-display-id-block_bigslides .views-field-name a { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; text-shadow: none; font-size: 120%; }

.view-core-activities .views-row { margin-top: 0; }
.view-core-activities .views-row.views-row-last { margin-bottom: 0; padding-bottom: 0; }
.view-core-activities .views-row.views-row-last .views-field-field-main-image { padding-bottom: 0; }
.view-core-activities .views-row.views-row-first .views-field-field-main-image { padding-top: 0; }
.view-core-activities .views-row .views-field-field-main-image { padding-top: .4em; padding-bottom: .4em; }

.views-slideshow-controls-text span { top: 50%; }
.views-slideshow-controls-text span a { width: 58px; height: 58px; background-image: url(../images/slider/slider_controls.png); background-repeat: no-repeat; color: transparent; font-size: 0; display: block; position: relative; z-index: 500; }
.views-slideshow-controls-text span.views-slideshow-controls-text-previous { left: 10px; margin-top: -26px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-previous a { background-position: 0 0; }
.views-slideshow-controls-text span.views-slideshow-controls-text-next { right: 10px; margin-top: -26px; }
.views-slideshow-controls-text span.views-slideshow-controls-text-next a { background-position: 0 -58px; }

.node .node-title { margin-bottom: 0; }
.node header { display: inline-block; margin-right: .8em; }
.node .incubator-user-submitted { display: inline-block; }
.node .content { padding-top: .8em; }
.node.node-page .content { padding-top: 0; }
.node .field-name-body p:last-child { margin-bottom: 0; }

.node .field-name-field-main-image .field-name-field-gallery-images, .node .field-name-field-media { margin-bottom: .8em; }
.node .field { margin-bottom: .8em; }
.node .field-type-taxonomy-term-reference { height: 100%; overflow: hidden; }
.node .field-type-taxonomy-term-reference .field-item { float: left; margin-right: .67em; margin-bottom: .67em; }

.location-locations-wrapper { margin-bottom: .8em; }

.field-name-field-main-image { margin: .4em; }

.incubator-images-right .node-teaser .field-name-field-gallery-images, .incubator-images-right .node-teaser .field-name-field-media, .incubator-images-right .field-name-field-main-image { margin-left: 1.2em; }

.incubator-images-left .node-teaser .field-name-field-gallery-images, .incubator-images-left .node-teaser .field-name-field-media, .incubator-images-left .field-name-field-main-image { margin-right: 1.2em; }

#search-block-form { position: relative; }
#search-block-form .form-item, #search-block-form .form-actions { margin: 0; padding: 0; }
#search-block-form input[type="text"] { width: 100%; padding: 1px 35px 1px 5px; height: 30px; line-height: 29px; font-size: 16px; }
#search-block-form input[type="submit"] { height: 30px; width: 30px; padding: 0; background-image: url(../images/search_icon.png); background-position: center center; background-repeat: no-repeat; text-indent: -99999px; position: absolute; top: 0; right: 0; margin-right: 0; }

.search-results li.search-result { list-style: none; }

.tabs { font-size: 80%; }
.tabs ul { list-style-type: none; list-style-image: none; border-style: none; }
.tabs ul > li { list-style-type: none; list-style-image: none; }
.tabs ul.primary { margin: 0 5px; }
.tabs ul li { float: left; margin: 0; padding: 0; border-style: none; }
.tabs ul li a { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiEAEAAB0AFz%2FQBbsAAAAASUVORK5CYII="); }
.tabs ul li.active a, .tabs ul li a:hover { background-image: none; padding-bottom: 1px; position: relative; z-index: 1; }

.node-links ul, .comment-links ul { list-style-type: none; list-style-image: none; }
.node-links ul > li, .comment-links ul > li { list-style-type: none; list-style-image: none; }
.node-links ul li a, .comment-links ul li a { display: inline-block; height: 2em; line-height: 2em; padding: 0 1.1em; border: none; filter: none; text-shadow: none; border-radius: 0; font-size: 90%; font-weight: bold; float: none; }

.node ul.inline, .node ol.inline { list-style-type: none; list-style-image: none; display: block; margin-top: .8em; margin-bottom: .4em; }
.node ul.inline > li, .node ol.inline > li { list-style-type: none; list-style-image: none; }
.node ul.inline li, .node ol.inline li { padding: 0; margin-right: .8em; }

.media-vimeo-outer-wrapper, .media-youtube-outer-wrapper { margin: 0 auto; }

.fc-agenda-divider { border: none; height: 1px; }

.fullcalendar table { border-collapse: collapse; }
.fullcalendar table.fc-content, .fullcalendar table.fc-content th, .fullcalendar table.fc-content td { border-width: 1px; border-style: solid; }
.fullcalendar table th { font-size: 1.2em; font-weight: bold; margin: 0; }
.fullcalendar table td .fc-day-number { padding: 0 .4em; }
.fullcalendar table td.fc-today { border-width: 5px; }

@media print { .fullcalendar table td.fc-today { border-width: 1px; } }
.fc-header { font-size: 80%; }
.fc-header .fc-header-space { padding-left: .4em; }

.fc-button { height: 2em; line-height: 2em; padding: 2px .4em; font-weight: normal; float: none; margin-right: 1px; }
.fc-button .fc-button-inner { overflow: visible; }
.fc-button .fc-button-content { height: 2em; line-height: 2em; padding: 0; }
.fc-button:hover { border-top: none; }
.fc-button.ui-state-disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }

.fullcalendar .ui-icon.ui-icon-circle-triangle-e { background: none; border-top: 6px solid transparent; border-bottom: 6px solid transparent; width: 0; height: 0; margin-top: -90%; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-w { background: none; border-top: 6px solid transparent; border-bottom: 6px solid transparent; width: 0; height: 0; margin-top: -90%; }

a.fc-event { display: inline-block; height: 1em; line-height: 1em; padding: 0 2px; border: none; filter: none; text-shadow: none; border-radius: 0; height: auto; padding-top: 1px; font-weight: normal; text-align: center; float: none; }
a.fc-event .fc-event-time { font-weight: normal; }
a.fc-event .fc-event-skin { border: none; background: transparent; }
a.fc-event .fc-event-skin * { background: none; }
a.fc-event:hover { border-left: none; border-right: none; border-top: none; }

.region-content-inner > .feed-icon { margin-bottom: 1.67em; }

textarea, select, input[type="file"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { font-size: 119%; line-height: 1.7em; font-weight: normal; padding: 0 .4em; box-shadow: none !important; height: 1.7em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100%; margin-bottom: 4px; }

input[type="file"] { font-size: 100%; }

fieldset { border-width: 1px; border-style: solid; margin: 1.4em 0; padding: .25em 1.25em; }
fieldset legend span { font-weight: bold; padding: 0 0.4em; }
fieldset legend span.summary { padding: 0; margin-left: 0; }

select { padding-top: .2em; padding-bottom: .2em; padding-right: 1.67em; }

textarea { line-height: normal; height: auto; min-height: 4em; }

.grippie { display: none; }

.confirm-parent, .password-parent { width: auto; min-width: 37em; margin: 0; }

button, input[type="reset"], input[type="submit"], input[type="button"] { -moz-transition: all, 0.3s; -o-transition: all, 0.3s; -webkit-transition: all, 0.3s; transition: all, 0.3s; display: inline-block; height: 2em; line-height: 2em; padding: 0 1em; border: none; filter: none; text-shadow: none; border-radius: 0; font-size: 1.2em; font-weight: bold; background: transparent; }

dt { margin: 1.4em 0 .2em; }

html.js body input.form-autocomplete { background-image: url(../images/throbber.gif); background-position: 100% 8px; }
html.js body input.form-autocomplete.throbbing { background-position: 100% -39px; }

article { display: block; clear: both; }

.region-content .node-teaser { margin-bottom: 1.67em; }

a.contextual-links-trigger, #colorbox button { -moz-transition: all, 0s; -o-transition: all, 0s; -webkit-transition: all, 0s; transition: all, 0s; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

ul.primary li.active a, ul.primary li a:hover, .main-menu-block .navigation, .main-menu-block .navigation ul ul, .section-content .block, .section-content .block.block-bg-lighter, .section-footer, .section-footer.block-bg-lighter { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII="); }

.commerce-add-to-cart { font-size: 75%; }
.commerce-add-to-cart .form-item { margin: 0 .2em .4em 0; }
.commerce-add-to-cart select { padding-top: 0; padding-bottom: 0; }

.node-teaser .commerce-add-to-cart .form-item { display: inline-block; }
.node-teaser .commerce-add-to-cart .attribute-widgets { float: left; }
.node-teaser .commerce-add-to-cart input, .node-teaser .commerce-add-to-cart select { margin-bottom: 0; }

.button-operator { margin: 0 .5em; }

.checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back { padding: 0; font-weight: normal; }

.field-type-addressfield .form-item { margin: .5em .25em 0; }
.field-type-addressfield .form-item select { max-width: 16em; }
.field-type-addressfield .form-item label { padding: .3em 0; }

.page-checkout tr.pane-data { background: transparent; border-bottom: none; }
.page-checkout tr.pane-data > td { padding-bottom: 3em; }
.page-checkout label { float: left; width: 8em; font-weight: normal; }
.page-checkout .form-type-checkbox label, .page-checkout .form-type-radio label { float: none; width: auto; }
