html { font-size: 12px; }

.zone-user-wrapper { position: relative; display: block; }
.zone-user-wrapper .block .block-title { visibility: hidden; height: 0; margin: 0; padding: 0; width: 0; }
.zone-user-wrapper .block .contextual-links-wrapper { right: -30px; }
.zone-user-wrapper .block-user-menu { position: absolute; right: 0; z-index: 50; }

.zone-menu-wrapper { position: relative; display: block; }

.navigation ul { display: block; margin: 0; }
.navigation ul li { display: table-cell; max-width: 12em; float: left; margin: 0 !important; padding: 0 !important; font-size: 120%; border-right-style: solid; border-left-style: solid; }
.navigation ul li a { padding: 0 1.1em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; display: block; line-height: 2.6em; }
.navigation ul li a span { display: inline-block; line-height: 1.2em !important; max-height: 2.4em; overflow: hidden; vertical-align: middle; text-align: center; padding: 0 1px 2px; }
.navigation ul li:first { border-left-style: none; }
.navigation ul li:last { border-right-style: none; }
.navigation ul.inline, .navigation ul.links.inline { display: block; }
.navigation ul.main-menu { border-bottom-width: 3px; border-bottom-style: solid; }

.navigation ul.main-menu li ul.main-menu { -webkit-transition: opacity, 0.3s; -moz-transition: opacity, 0.3s; -o-transition: opacity, 0.3s; transition: opacity, 0.3s; visibility: hidden; opacity: 0.2; padding: .8em .5em 1em; position: absolute; width: 15em; z-index: 5; border-style: none solid solid solid; border-width: 0 1px 1px 1px; text-align: left; font-size: 80%; }
.navigation ul.main-menu li ul.main-menu:hover { display: block; }
.navigation ul.main-menu li ul.main-menu li { display: block; float: none; max-width: 15em; width: 15em; font-size: 100%; }
.navigation ul.main-menu li ul.main-menu li a { padding: 0 1em; }
.navigation ul.main-menu li ul.main-menu ul { border-style: solid; border-width: 1px; margin-left: 15.5em; margin-top: -2.5em; font-size: 100%; padding: .5em 0; }
.navigation ul.main-menu li ul.main-menu ul li { max-width: 15em; box-sizing: border-box; border: .5em 0; }
.navigation ul.main-menu li ul.main-menu ul li.first { position: relative; left: -1px; border-left-width: 1px; border-left-style: solid; }
.navigation ul.main-menu li ul.main-menu ul li a { max-width: 14em; width: 14em; margin: 0 .5em; box-sizing: border-box; }
.navigation ul.main-menu li:hover > ul.secondary-items { visibility: visible; opacity: 1; }

.page .zone-content-wrapper, .page .zone-menu-wrapper { background-color: transparent; }

.page-options-spaced-header .zone-branding-wrapper { margin-top: 2em; }

.page-options-shadowed-page .zone-content-wrapper { padding-top: 0; }
.page-options-shadowed-page.main-menu-block .zone-content-wrapper, .page-options-shadowed-page.main-menu-overlay .zone-content-wrapper { padding-top: 1.25em; }
.page-options-shadowed-page .zone-content { -webkit-box-shadow: 0 0 12px; -moz-box-shadow: 0 0 12px; box-shadow: 0 0 12px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; box-sizing: content-box; padding: 36px 9px 15px; margin-bottom: 30px; }

.block-commerce-cart .block-inner { margin: -20px; }
.block-commerce-cart .view-footer { padding: .5em .5em 0; }
.block-commerce-cart .cart-empty-block { padding: 20px; }

html, body { height: 100%; margin: 0; }

#page { display: table; width: 100%; }

html > body #page { height: 100%; }

*:first-child + html #page { height: auto; }

.section { display: table-row; }

html > body .section-content { height: 100%; }

*:first-child + html body .section-content { height: auto; }

footer.section-footer { display: block; }

html body.admin-menu { margin-top: 0 !important; }

body.admin-menu #admin-menu-spacer { height: 29px; }
