.branding-data { min-height: 5em; }

.site-name-slogan { font-size: 110%; padding-bottom: 1em; margin-left: 0; }

.site-slogan { font-size: 110%; }

.logo-img { position: relative; top: 0; left: 0; z-index: 1; display: inline-block; opacity: 1; margin-right: 1em; }
.logo-img img { max-width: none; }
.logo-img.resize { height: 4em; }
.logo-img.resize img { max-width: none; width: auto; height: 100%; }
.logo-img.overlay { opacity: 1; position: relative; top: 0; left: 0; z-index: 1; }

#breadcrumb { display: block; position: absolute; top: -1em; font-size: 9px; line-height: 1em; z-index: 1; text-align: right; width: 100%; }

.view-display-id-block_bigslides .views-field-name a, .view-display-id-block_bigslides .views-field-title a { font-size: 200%; }
