/* Document   : preview Created on : Sep 2, 2013, 2:27:01 PM Author     : david Description: This stylesheet is for the preview page when modifying theme settings.
*/
#color_scheme_form h2 { display: none; }
#color_scheme_form #preview h2 { display: inherit; }
#color_scheme_form #palette .form-item { width: 28em; height: 1em; margin: 0; position: relative; }
#color_scheme_form #palette .form-item label { width: 13em; font-size: 84%; }
#color_scheme_form #preview { border: 10px solid grey; width: 480px; overflow: hidden; font-size: 90%; }

#preview a:hover { text-decoration: none; }
#preview .section { padding: 0 18px; }
#preview #preview-site-name { line-height: 1em; margin: 25px 12px; }
#preview #preview-user { box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
#preview #preview-user-menu { list-style-type: none; list-style-image: none; text-align: right; font-size: 85%; margin: 0; }
#preview #preview-user-menu > li { list-style-type: none; list-style-image: none; }
#preview #preview-menu { box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); overflow: hidden; }
#preview #preview-menu .navigation ul { list-style-type: none; list-style-image: none; margin: 0; }
#preview #preview-menu .navigation ul > li { list-style-type: none; list-style-image: none; }
#preview #preview-menu .navigation ul li { line-height: 1.5em; padding: .4em .8em; text-align: center; }
#preview #preview-main { position: relative; z-index: 2; padding-top: 9px; padding-bottom: 9px; }
#preview #preview-sidebar { float: right; width: 180px; margin-left: 18px; }
#preview #preview-content { margin-right: 190px; }
#preview .incubator-user-submitted { display: inline-block; font-size: 80%; padding: 2px 9px; }
#preview .block, #preview .node-teaser { padding: 6px 19px; margin-bottom: 9px; border: 1px solid; }
#preview .block h2.block-title, #preview .node-teaser h2.node-title { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top: 4px; margin-bottom: 6px; display: inline-block !important; *display: inline !important; }
#preview .section-footer { border-top: 1px solid; height: 3em; }

.block, .node-teaser, .section-footer { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII="); }
