* { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; border-color: lightgray !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }

body { font-size: 10pt; }

#region-content { /* Don't show links for images, or javascript/internal links */ }
#region-content a, #region-content a:visited { text-decoration: underline !important; }
#region-content .view-id-upcoming_events.view-display-id-page_1 a, #region-content .view-id-upcoming_events.view-display-id-page_1 a:visited, #region-content .field-name-field-main-image a, #region-content .field-name-field-main-image a:visited, #region-content .field-name-field-gallery-images a, #region-content .field-name-field-gallery-images a:visited { text-decoration: none !important; }
#region-content a[href]:after, #region-content .node-readmore a[href^="/"]:after { content: " (" attr(href) ")"; }
#region-content abbr[title]:after { content: " (" attr(title) ")"; }
#region-content .field-name-field-main-image a[href]:after, #region-content .field-name-field-gallery-images a[href]:after, #region-content a[href^="/"]:after, #region-content a[href^="javascript:"]:after, #region-content a[href^="#"]:after { content: ""; }
#region-content .block { border: none; }

pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

thead { display: table-header-group; }

/* h5bp.com/t */
tr, img { page-break-inside: avoid; }

img { max-width: 100% !important; }

@page { margin: 0.4in; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3 { page-break-after: avoid; }

/* Theme-specific changes */
#block-system-main { border: none !important; }

#zone-content #region-content { width: 100%; }

.view-id-upcoming_events.view-display-id-page_1 .view-header, .fc-button, #zone-user-wrapper, #zone-menu-wrapper, #zone-content aside.region, #zone-postscript-wrapper, #block-menu-footer { display: none; }
