.font-sizing-105 #page { font-size: 105%; }

.font-sizing-110 #page { font-size: 110%; }

.font-sizing-115 #page { font-size: 115%; }

.font-sizing-120 #page { font-size: 120%; }

.font-sizing-125 #page { font-size: 125%; }
