.block-bg-border.main-menu-block nav.navigation, .block-bg-border.main-menu-block nav.navigation ul ul, .block-bg-border ul.primary li.active a, .block-bg-border .section-content article.node-teaser, .block-bg-border .section-content .block, .block-bg-border .section-footer, .block-bg-pagebg.main-menu-block nav.navigation, .block-bg-pagebg.main-menu-block nav.navigation ul ul, .block-bg-pagebg ul.primary li.active a, .block-bg-pagebg .section-content article.node-teaser, .block-bg-pagebg .section-content .block, .block-bg-pagebg .section-footer, .block-bg-white.main-menu-block nav.navigation, .block-bg-white.main-menu-block nav.navigation ul ul, .block-bg-white ul.primary li.active a, .block-bg-white .section-content article.node-teaser, .block-bg-white .section-content .block, .block-bg-white .section-footer { background-image: none; }

.section-content .block.block-bg-border, .section-content .block.block-bg-white, .section-content .block.block-bg-pagebg { background-image: none; }

.block-bg-pagebg.block-styles-no-borders ul.primary { border-bottom-width: 1px; border-bottom-style: solid; }

.block-bg-white.main-menu-block div nav.navigation, .block-bg-white.main-menu-block nav.navigation ul.links ul, .block-bg-white ul.primary li a, .block-bg-white ul.primary li.active a, .block-bg-white .section-content article.node-teaser, .block-bg-white .section-content .block, .block-bg-white .section-footer { background-color: #ffffff; }

.section-content .block.block-bg-white { background-color: #ffffff; }

.block-bg-light.main-menu-block nav.navigation, .block-bg-light.main-menu-block nav.navigation ul ul, .block-bg-light ul.primary li.active a, .block-bg-light .section-content .block, .block-bg-light .section-footer { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6Xw8AAoYBgRDEVrUAAAAASUVORK5CYII="); }

.section-content .block.block-bg-light { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6Xw8AAoYBgRDEVrUAAAAASUVORK5CYII="); }
