.user-menu-style-bar .zone-user-wrapper .block-user-menu { position: static; float: right; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; border-style: none solid none solid; border-width: 1px; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0; padding-right: 0; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul li:first-child, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul li.first { padding-left: 0; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul li:last-child { padding-right: 0; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul li.last { padding-right: 0; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul li { border-style: none solid none solid; border-width: 1px; margin: 0; padding: 0; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul li a { display: block; line-height: 2em; padding: 0 .8em; font-weight: normal; }

.user-menu-style-tabs .zone-user-wrapper .block-user-menu ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; overflow: visible; }
.user-menu-style-tabs .zone-user-wrapper .block-user-menu ul li { list-style-image: none; list-style-type: none; margin-left: 0; white-space: nowrap; display: inline; float: left; padding-left: 0.2em; padding-right: 0.2em; }
.user-menu-style-tabs .zone-user-wrapper .block-user-menu ul li:first-child, .user-menu-style-tabs .zone-user-wrapper .block-user-menu ul li.first { padding-left: 0; }
.user-menu-style-tabs .zone-user-wrapper .block-user-menu ul li:last-child { padding-right: 0; }
.user-menu-style-tabs .zone-user-wrapper .block-user-menu ul li.last { padding-right: 0; }
.user-menu-style-tabs .zone-user-wrapper .block-user-menu ul li a { display: inline-block; line-height: 1em; padding: .3em 1.2em; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }
