.page-options-inset-header .zone-user-wrapper, .page-options-inset-header .zone-menu-wrapper { -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); }

.main-block-no-styling .section-content ul.primary { border-bottom-width: 1px; border-bottom-style: solid; }
.main-block-no-styling .section-content .block.block-system-main { background: transparent; border: none; -moz-box-shadow: "none"; -webkit-box-shadow: "none"; box-shadow: "none"; padding-top: 5px; }
.main-block-no-styling .section-content .region-content .block-incubator-mapping-node-map { display: inline-block; }

.page-options-background-bottom #page { background-size: contain !important; }
.page-options-background-bottom .section-footer { border: none; background: transparent; font-weight: bold; }
.page-options-background-bottom .zone-content-wrapper { padding-bottom: 0; }
@media all and (max-width: 739px) { .page-options-background-bottom .zone-content-wrapper { background: transparent; } }
.page-options-background-bottom.page-options-shadowed-page .zone-content { background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4)); }
@media all and (max-width: 739px) { .page-options-background-bottom.page-options-shadowed-page .zone-content { background: transparent; }
  .page-options-background-bottom.page-options-shadowed-page .section-content { background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 10%); }
  .page-options-background-bottom.page-options-shadowed-page .section-header { background: rgba(255, 255, 255, 0.9); } }
