.sitename-softshadow .site-name-slogan { text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.sitename-strongshadow .site-name-slogan { text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); }

.sitename-raisedshadow .site-name-slogan { text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.5), -3px 6px 5px rgba(0, 0, 0, 0.5); }

.sitename-threedraised .site-name-slogan { text-shadow: 0 1px 0 #333333, 0 2px 0 #151515, 1px 3px 2px rgba(255, 255, 255, 0.4), 2px 4px 4px rgba(0, 0, 0, 0.5); }

.sitename-threedinset .site-name-slogan h1, .sitename-threedinset .site-name-slogan h6, .sitename-threedinset .site-name-slogan a:link, .sitename-threedinset .site-name-slogan a:visited, .sitename-threedinset .site-name-slogan a:hover, .sitename-threedinset .site-name-slogan a:active { color: rgba(0, 0, 0, 0.1) !important; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 1px 0 0 rgba(255, 255, 255, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.3); }
