.taxonomy-terms-buttons .node .field-type-taxonomy-term-reference .field-item a { display: inline-block; height: 1.67em; line-height: 1.67em; padding: 0 0.8em; border: none; filter: none; text-shadow: none; border-radius: 0; font-weight: bold; }

.taxonomy-terms-small .node .field-type-taxonomy-term-reference .field-item a { font-size: 75%; opacity: .8; font-weight: normal; }
