.block-styles-no-borders.block, .block-styles-no-borders .section-content .block, .block-styles-no-borders.main-menu-block .navigation { border: none !important; }

.block-styles-no-background.block, .block-styles-no-background .section-content .block, .block-styles-no-background.main-menu-block .navigation { background-color: transparent !important; background-image: none !important; }

.block-styles-rounded.block, .block-styles-rounded .section-content .block, .block-styles-rounded.main-menu-block .navigation { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.block-styles-heavy.block, .block-styles-heavy .section-content .block, .block-styles-heavy.main-menu-block .navigation { border-bottom-width: 3px !important; }

.block-styles-shadowed.block, .block-styles-shadowed .section-content .block, .block-styles-shadowed.main-menu-block .navigation { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
