.headers-centered.block .block-title, .headers-centered .section-content .block .block-title { text-align: center; }

.headers-banner.block .block-title, .headers-banner .section-content .block .block-title { -webkit-transition: all, 0.3s; -moz-transition: all, 0.3s; -o-transition: all, 0.3s; transition: all, 0.3s; margin-top: -4px; line-height: normal; padding: .3em .9em .3em 17px; margin-left: -25px !important; margin-bottom: .9em; display: inline-block; *display: inline; position: relative; z-index: 2; }
.headers-banner.block .block-title:after, .headers-banner .section-content .block .block-title:after { content: ""; display: block; position: absolute; left: -5px; bottom: -5px; border-left: 5px solid transparent !important; border-bottom: 5px solid transparent !important; }

.headers-banner-right.block .block-title, .headers-banner-right .section-content .block .block-title { margin-right: -25px !important; line-height: normal; margin-top: -4px; display: inline-block; *display: inline; padding: .3em 17px .3em .9em; position: relative; z-index: 2; }
.headers-banner-right.block .block-title:before, .headers-banner-right .section-content .block .block-title:before { content: ""; display: block; position: absolute; right: -5px; bottom: -5px; border-right: 5px solid transparent !important; border-bottom: 5px solid transparent !important; }

.headers-banner.headers-banner-right.block .block-title, .headers-banner.headers-banner-right .section-content .block .block-title, .headers-banner-wide.block .block-title, .headers-banner-wide .section-content .block .block-title { display: block; }

.headers-colored.block .block-title, .headers-colored .section-content .block .block-title { padding: .4em 20px; margin-top: -4px; margin-left: -20px; margin-right: -20px; display: block; }

.headers-top-aligned.block .block-title, .headers-top-aligned .section-content .block .block-title { margin-top: -20px !important; }
.headers-top-aligned .block-styles-rounded.block .block-title, .headers-top-aligned .block-styles-rounded .section-content .block .block-title, .headers-top-aligned.block-styles-rounded.block .block-title, .headers-top-aligned.block-styles-rounded .section-content .block .block-title { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
