.main-menu-block nav.navigation { padding: .2em 1.5em !important; }

.main-menu-overlay .region-menu-inner { margin-top: -2.6em; }

.main-menu-narrow-space ul.main-menu li { margin-right: .4em !important; }
.main-menu-narrow-space ul.main-menu li.last { margin-right: 0 !important; }

.main-menu-wide-space ul.main-menu li { margin-right: 1.2em !important; }
.main-menu-wide-space ul.main-menu li.last { margin-right: 0 !important; }

.main-menu-narrow-items .navigation ul li a { padding: 0 .2em; }
.main-menu-narrow-items .navigation ul ul li a { padding: 0 1.1em; }

.main-menu-full-width .navigation { float: left; }
.main-menu-full-width .navigation > ul.links.main-menu { border-bottom: none; background-image: none; }
.main-menu-full-width .zone-menu-wrapper { border-bottom-width: 3px; border-bottom-style: solid; }

.main-menu-no-separators ul.main-menu li { border: none; }

.main-menu-dot-separators ul.main-menu li:before { content: '\2022'; margin-left: -.15em; float: left; line-height: 2.6em; }
.main-menu-dot-separators ul.main-menu li.first:before { content: ''; }
.main-menu-dot-separators ul.main-menu ul li:before { content: ''; }
.main-menu-dot-separators.main-menu-narrow-space ul.main-menu li:before { margin-left: -.375em; }
.main-menu-dot-separators.main-menu-wide-space ul.main-menu li:before { margin-left: -.75em; }

.main-menu-no-lineunder .navigation ul.main-menu { border-bottom: none; }
.main-menu-no-lineunder.main-menu-full-width .zone-menu-wrapper { border-bottom: none; }

.main-menu-underline-items ul.main-menu li a span { border-bottom: 2px solid; }
.main-menu-underline-items ul.main-menu li a.active span, .main-menu-underline-items ul.main-menu li a.active-trail span { border-bottom: none; }
.main-menu-underline-items ul.main-menu ul li, .main-menu-underline-items ul.main-menu ul li a span { border-bottom: none; }

.main-menu-side-left .region-menu-inner, .main-menu-side-center .region-menu-inner, .main-menu-side-right .region-menu-inner { margin-bottom: -1em; }
.main-menu-side-left .navigation, .main-menu-side-center .navigation, .main-menu-side-right .navigation { display: inline-block; }

.main-menu-side-left .region-menu-inner { text-align: left; }

.main-menu-side-center .region-menu-inner { text-align: center; }

.main-menu-side-right .region-menu-inner { text-align: right; }
.main-menu-side-right.main-menu-full-width .navigation { float: right; }
