// Global Styles
@import "compass/css3";

html {
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : 100%;
}

body {
  @include text;
  line-height: 1.8em;
  height   : 100%;
  position : relative;
}

// Text Styles
// ---------------------------------------------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  @include title;
  font-size: 150%;
  line-height: 1.2em;
  margin-bottom: .8em;
  margin-top: 0.8em;
  letter-spacing: 0;
  &.title,
  &.node-title,
  &.block-title {
    margin-top: 0;
  }
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 260%;
  &.site-name {
    font-size: 200%;
  }
}

h2 {
  font-size: 200%;
}

#page-title {
  font-size: 220%;
  margin-bottom: .5em;
}

// links
a {
  @include transition-property(background, background-color, color);
  @include transition-duration(0.3s);
  font-weight: bold;
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}

// Images
img {
  @include max-width;
}

// Paragraphs
p {
  margin: 0 0 .8em 0;
}

// Lists
ul, ol {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding-top: 0;
  padding-left: 1.25em;
  li {
    line-height: 1.4em;
    padding: 0;
    margin: .2em 0;
  }
}

ul li, .item-list ul li { 
  list-style: disc inside; 
}

ol li, .item-list ol li { 
  list-style: decimal inside; 
}

.item-list ul li, .item-list ol li {
  list-style-position: outside;
}

.node ol, .node ul {
  padding-left: 1.25em;
}

ul ul,
ol ol {
  padding-top: 0;
}

// Tables

table {
  background: none;
  border: none;
  width: 100%;
  thead {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-weight: bold;
  }
  tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background: none;
  }
  th, td {
    border: none;
    background: none;
    padding: .4em;
  }
}




.form-item {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  clear: both;
  label {
    font-weight: bold;
    padding-bottom: .4em;
    font-size: 109%;
    &.option {
      font-weight: normal;
      font-size: 100%;
    }
  }
}

.form-actions {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  clear: both;
}

.form-item .description {
  font-size: 85%;
  line-height: 1.1em;
}

// Tabs
//ul.primary {
//  padding: 0;
//  margin: 20px 0 20px 0;
//  border: none !important;
//  li {
//    margin-right: 20px;
//    border: none !important;
//    a {
//      @include tab;
//      margin-right: 0;
//      border: none !important;
//    }
//  }
//}


