@mixin no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
}

@mixin max-width {
  max-width: 100%;
  height: auto;
}

// Remove fonts
@mixin no-font {
  color: transparent;
  font-size: 0;
}

// Overflow mixin
@mixin overflow {
  height: 100%;
  overflow: hidden;
}

// Remove list from LIST's
@mixin no-list {
  list-style-type: none;
  list-style-image: none;
  &>li {
    list-style-type: none;
    list-style-image: none;
  }
}

@mixin reset-list {
  @include no-list;
  margin: 0;
  padding: 0;
  &>li {
    margin: 0;
    padding: 0;
  }
}

@mixin shadow-standard {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

@mixin menu-borders {
  border-style: none solid none solid;
  border-width: 1px;
}

// ---------------------------------------------------------------------------------------------------------------------
@mixin text {
  font-family: Georgia, "Times New Roman", Times, serif;
}

@mixin title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



// ---------------------------------------------------------------------------------------------------------------------

@mixin title-banner {
  @include transition(all, 0.3s);
  line-height: normal;
  padding: .3em .9em .3em 17px;
  margin-left: -25px;
  margin-bottom: .9em;
  display: inline-block;
  *display: inline;
  position: relative;
  z-index:2;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -5px;
    bottom: -5px;
    border-left: 5px solid transparent !important;
    //border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-right: 5px solid transparent;
  }
}

@mixin link-btn($height: 1.67em, $pad: .8em) {
  display: inline-block;
  height: $height;
  line-height: $height;
  padding: 0 $pad;
  border: none;
  filter: none;
  text-shadow: none;
  border-radius: 0;
}

@mixin input {

}

// Custom buttons
@mixin btn-main {
  @include transition(all, 0.3s);
  cursor: pointer;

  //font-weight: bold;
  //
  //border: none;
  //background: $color_link;
  //font-size: 12px;
  //text-transform: uppercase;
  //font-weight: bold;
  //
  //border-radius: 0;
  //color: $color_white;
  //
  //padding: 4px 10px;
  //text-shadow: none !important;
  //box-shadow: none !important;

  &:hover {
    background: darken($color_link, 10%);
  }

}

@mixin btn($height: 30px, $p_left: 15px, $p_right: 15px) {

  //height: $height;
  //line-height: $height;
  //color: $color_input_text;
  //background-color: $color_grey_bg;
  //font-size: 15px;
  //display: inline-block;
  //padding-left: $p_left;
  //padding-right: $p_right;
  //
  //&.active,
  //&:hover {
  //  background-color: $color_red;
  //  color: $color_white;
  //}
}

// Custom tabs
@mixin tab {
  @include btn-main;
  &.active,
  &:hover {

  }
}

