// Variables for DPW

$baseFontSize: 13px;




// Footer
$color_footer_bg: #f6f6f6;
$color_footer_border: #d3d8dc;
$color_footer_link: #476887;

// Text
$color_text: #343434;                        // can be altered for text elements
$color_text_highlight: #fffffd;

$color_main_color: #5a6f82;             // can be altered for all other elements
$color_secondary_color: #404e5b;

