@charset "UTF-8";

// Global stylesheet file
// ---------------------------------------------------------------------------------------------------------------------
@import "compass/css3";
@import "compass/typography";

@import "mixin";

// Import base styles
@import "base";

// BASE FONT SIZE
// ---------------------------------------------------------------------------------------------------------------------
html {
  font-size: 12px;
}



// MENUS
// ---------------------------------------------------------------------------------------------------------------------

.zone-menu-wrapper,
.zone-user-wrapper {
  display: none;
}


// SECTION HEADER
// ---------------------------------------------------------------------------------------------------------------------

// TODO: Move all this style-colors to colors.css
// TODO: Take buttons, inputs from _base.scss

.branding-data {
  padding: 2em 0;
}
.logo-img {
  margin-right: 0;
  img {
    max-width: 40px;
    height:auto;
  }
  &.default {
    margin-top: -.4em;
  }
  &.overlay {
    position:absolute;
    top: 9px;
    left: 0;
    z-index: 0;
    opacity: .5;
  }
}
.site-name-slogan {
  font-size: 70%;
  padding: 0;
  float: none;
  position: relative;
  margin-left: 2em;
}
.site-name {
  font-weight: bold;
  margin: 0;
}
.site-slogan {
  font-weight: normal;
  margin: 0;
}
#breadcrumb {
  display:none;
}


// SECTION FOOTER
// ---------------------------------------------------------------------------------------------------------------------
.section-footer {
  font-size: 90%;
  padding-top: 1.67em;
  padding-bottom: 1.67em;
  .block {
    line-height: 1.2em;
    &.block-copyright,
    &.block-menu-footer {
      line-height: 1.1em;
      font-size: 90%;
      .block-title {
        display: none;
      }
      ul {
        @include horizontal-list(.8em);
      }
    }
  }
}

// SECTION CONTENT
// ---------------------------------------------------------------------------------------------------------------------
.section-content {
  position: relative;
  z-index: 2;
  .zone-content-wrapper {
    padding-top: 1.25em;
    padding-bottom: 6em;
    position: relative;
  }
}

// Block styles (only for section content. For header we don't need this styles
.main-menu-block .navigation,
.section-content .block {
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  background-repeat: repeat;
  padding: 20px;
  margin-bottom: 1.4em;
  .block-title {
    font-size: 150%;
    font-weight: bold;
  }
  .content {
    clear: both;
  }
}

// Restyle views
// Rows
.views-row {
  @include overflow;
  margin-bottom: .6em;
  padding-bottom: .6em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  &.views-row-last {
    border-bottom-style: none;
    border-bottom-width: 0;
  }
}

.view-grouped {
  .views-row {
    border-bottom-style: none;
    border-bottom-width: 0;
  }
}

.view-content h3 {
  margin-bottom: .6em;
}

.views_slideshow_cycle_main .views-row {
  border-bottom-style: none;
  border-bottom-width: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  .node-teaser {
    margin-bottom: 0;
  }
}

// More link
body a.more-link,
body .more-link a {
  @include link-btn(2.2em, .9em);
  font-size: 90%;
  font-weight: bold;
}

.feed-icon {
  text-align: right;
}

// Big sliding block (slider)
#block-views-recent-stories-block-bigslides,
#block-views-core-activities-block-bigslides {
  border: none;
  padding: 0;
  background: none;
  .block-title {
    display: none;
  }
}

// Restyle slider
.view-display-id-block_slides {
  .views-slideshow-controls-text {
    @include opacity(0);
  }
  &:hover {
    .views-slideshow-controls-text {
      @include opacity(1);
    }
  }
  .views-slideshow-controls-text {
    span.views-slideshow-controls-text-previous {
      left: 0;
    }
    span.views-slideshow-controls-text-next {
      right: 0;
    }
  }
}

.view-display-id-block_bigslides {
  .views-slideshow-cycle-main-frame-row-item {
    margin: 0;
    padding: 0;
  }
  .views_slideshow_cycle_main {
    max-width: 10000px;
  }
  .views-slideshow-controls-text {
    @include opacity(0);
  }
  &:hover {
    .views-slideshow-controls-text {
      @include opacity(1);
    }
  }
  // Titles
  .views-field-title,
  .views-field-name {
    margin: 0;
    padding: 0;
    background: url(../images/slider/slider_caption_bg.png) repeat 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .field-content {
      display: block;
      padding: 1.25em 1.66em;
    }
    a {
      @include title;
      font-weight: bold;
      text-shadow: none;
      font-size: 120%;
      &:hover {
      }
    }
  }
}

.view-core-activities {
  .views-row {
    margin-top: 0;
    &.views-row-last {
      margin-bottom: 0;
      padding-bottom: 0;
      .views-field-field-main-image {
        padding-bottom: 0;
      }
    }
    &.views-row-first {
      .views-field-field-main-image {
        padding-top: 0;
      }
    }
    .views-field-field-main-image {
      padding-top: .4em;
      padding-bottom: .4em;
    }
  }
}

.views-slideshow-controls-text {
  span {
    top: 50%;
    a {
      width: 58px;
      height: 58px;
      background-image: url(../images/slider/slider_controls.png);
      background-repeat: no-repeat;
      @include no-font;
      display: block;
      position: relative;
      z-index: 500;
    }
  }
  span.views-slideshow-controls-text-previous {
    left: 10px;
    margin-top: -26px;
    a {
      background-position: 0 0;
    }
  }
  span.views-slideshow-controls-text-next {
    right: 10px;
    margin-top: -26px;
    a {
      background-position: 0 -58px;
    }
  }
}

.node {
  .node-title {
    margin-bottom: 0;
  }
  header {
    display: inline-block;
    margin-right: .8em;
  }
  .incubator-user-submitted {
    display:inline-block;
  }
  .content {
    padding-top: .8em;
  }

  &.node-video {

  }
  &.node-news {

  }
  &.node-gallery {

  }
  &.node-page {
    .content {
      padding-top: 0;
    }
  }
  .field-name-body {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.node {
  .field-name-field-main-image
  .field-name-field-gallery-images,
  .field-name-field-media {
    margin-bottom: .8em;
  }
  .field {
    margin-bottom: .8em;
  }
  .field-type-taxonomy-term-reference {
    @include overflow;
    .field-item {
      float: left;
      margin-right: .67em;
      margin-bottom: .67em;
    }
  }
}

.location-locations-wrapper {
  margin-bottom: .8em;
}


.field-name-field-main-image { margin:.4em; }
.incubator-images-right .node-teaser .field-name-field-gallery-images,
.incubator-images-right .node-teaser .field-name-field-media,
.incubator-images-right .field-name-field-main-image {margin-left: 1.2em;}
.incubator-images-left .node-teaser .field-name-field-gallery-images,
.incubator-images-left .node-teaser .field-name-field-media,
.incubator-images-left .field-name-field-main-image {margin-right: 1.2em;}

// Search block
#search-block-form {
  position: relative;
  .form-item,
  .form-actions {
    margin: 0;
    padding: 0;
  }
  input[type="text"] {
    width: 100%;
    padding: 1px 35px 1px 5px;
    height: 30px;
    line-height: 29px;
    font-size: 16px;
  }
  input[type="submit"] {
    height: 30px;
    width: 30px;
    padding: 0;
    background-image: url(../images/search_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
  }
}
.search-results li.search-result {
  list-style:none;
}

// Tabs
.tabs {
  font-size: 80%;
  ul {
    @include no-list;
    &.primary {
      margin: 0 5px;
    }
    border-style: none;
    li {
      float: left;
      margin: 0;
      padding: 0;
      border-style: none;
      a {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiEAEAAB0AFz%2FQBbsAAAAASUVORK5CYII=");
      }
      &.active a, a:hover {
        background-image: none;
        padding-bottom: 1px;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.node-links ul,
.comment-links ul {
  @include no-list;
  li a {
    @include link-btn(2em, 1.1em);
    font-size: 90%;
    font-weight: bold;
    float: none;
  }
}

.node ul.inline,
.node ol.inline {
  @include no-list;
  display: block;
  margin-top: .8em;
  margin-bottom: .4em;
  li {
    padding: 0;
    margin-right: .8em;
  }
}

// Media
.media-vimeo-outer-wrapper,
.media-youtube-outer-wrapper {
  margin: 0 auto;
}

// Calendar styling
.fc-agenda-divider {
  border: none;
  height: 1px;
}
.fullcalendar {
  table {
    border-collapse: collapse;
    // Style as buttons
    &.fc-content,
    &.fc-content th, 
    &.fc-content td {
      border-width: 1px;
      border-style: solid;
    }
    th {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
    }
    td {
      &.fc-other-month {
      }
      .fc-day-number {
        padding: 0 .4em;
      }
      &.fc-today {
        border-width: 5px;
      }
    }
  }
}
@media print {
  .fullcalendar table td.fc-today { border-width: 1px; }
}

// Events
.fullcalendar-content {

}
// BUTTONS
.fc-header {
  font-size: 80%;
  .fc-header-space {
    padding-left: .4em;
  }
}
.fc-button {
  height: 2em;
  line-height: 2em;
  padding: 2px .4em;
  font-weight: normal;
  float: none;
  margin-right: 1px;
  .fc-button-inner {
    overflow: visible;
  }
  .fc-button-content {
    height: 2em;
    line-height: 2em;
    padding: 0;
  }
  &:hover {
    border-top: none;
  }
  &.ui-state-disabled {
    @include opacity(0.8);
  }
}
.fullcalendar .ui-icon {
  &.ui-icon-circle-triangle-e {
    background: none;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    width: 0;
    height: 0;
    margin-top: -90%;
  }
  &.ui-icon-circle-triangle-w {
    background: none;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    width: 0;
    height: 0;
    margin-top: -90%;
  }
}

a.fc-event {
  @include link-btn(1em, 2px);
  height: auto;
  padding-top: 1px;
  font-weight: normal;
  text-align: center;
  float: none;
  .fc-event-time {
    font-weight: normal;
  }
  .fc-event-skin {
    border: none;
    background: transparent;
    * {
      background: none;
    }
  }
  &:hover {
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

.region-content-inner > .feed-icon {
  margin-bottom: 1.67em;
}

// Inputs
textarea,
select,
input[type="file"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: 119%;
  line-height: 1.7em;
  font-weight: normal;
  padding: 0 .4em;
  box-shadow: none !important;
  height: 1.7em;
  @include box-sizing(border-box);
  max-width:100%;
  margin-bottom: 4px;
}

input[type="file"] {
  font-size: 100%;
}

fieldset {
  border-width: 1px;
  border-style: solid;
  margin: 1.4em 0;
  padding: .25em 1.25em;
  legend span {
    font-weight: bold;
    padding: 0 0.4em;
    &.summary {
      padding: 0;
      margin-left: 0;
    }
  }
}

select {
  padding-top: .2em;
  padding-bottom: .2em;
  padding-right: 1.67em;
}

textarea {
  line-height: normal;
  height: auto;
  min-height: 4em;
}

.grippie {
  display: none;
}

.confirm-parent, .password-parent {
  width: auto;
  min-width: 37em;
  margin: 0;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include transition(all, 0.3s);
  @include link-btn(2em, 1em);
  font-size: 1.2em;
  font-weight: bold;
  background: transparent;
}

dt {
  margin: 1.4em 0 .2em;
}

html.js body input.form-autocomplete {
  background-image: url(../images/throbber.gif);
  background-position: 100% 8px;
  &.throbbing {
    background-position: 100% -39px;
  }
}

article {
  display: block;
  clear: both;
}

.region-content .node-teaser {
  margin-bottom: 1.67em;
}

a.contextual-links-trigger,
#colorbox button {
  @include transition(all, 0s);
  @include box-shadow(none);
}

// SECTION SIDEBAR LEFT
// ---------------------------------------------------------------------------------------------------------------------

// SECTION SIDEBAR RIGHT
// ---------------------------------------------------------------------------------------------------------------------



//
// -----------------------------------------------------------------------------

//article.node-teaser, // TODO: implement this
ul.primary li.active a,
ul.primary li a:hover,
.main-menu-block .navigation,
.main-menu-block .navigation ul ul,
.section-content .block, 
.section-content .block.block-bg-lighter,
.section-footer,
.section-footer.block-bg-lighter
{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=");
}

// COMMERCE
// ---------------------------------------------------------------------------------------------------------------------

.commerce-add-to-cart {
  font-size: 75%;
  .form-item {
    margin: 0 .2em .4em 0;
  }
  select {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.node-teaser {
  .commerce-add-to-cart {
    .form-item {
      display: inline-block;
    }
    .attribute-widgets {
      float: left;
    }
    input, select {
      margin-bottom: 0;
    }
  }
}

.button-operator {
  margin: 0 .5em;
}

.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  padding: 0;
  font-weight: normal;
}

.field-type-addressfield .form-item {
  margin: .5em .25em 0;
  select {
    max-width: 16em;
  }
  label {
    padding: .3em 0;
  }
}

.page-checkout {
  tr.pane-data {
    background: transparent;
    border-bottom: none;
    >td {
      padding-bottom: 3em;
    }
  }
  label {
    float: left;
    width: 8em;
    font-weight: normal;
  }
  .form-type-checkbox label,
  .form-type-radio label {
    float: none;
    width: auto;
  }
}
