@charset "UTF-8";

// This file will hold styles for all layouts using the same media query as the narrow grid

@import "compass/css3";
@import "compass/typography";

@import "mixin";

.branding-data {
  min-height: 5em;
}

.site-name-slogan {
  font-size: 110%;
  padding-bottom: 1em;
  margin-left: 0;
}
.site-slogan {
  font-size: 110%;
}

.logo-img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: inline-block;
  opacity: 1;
  margin-right: 1em;
  img {
    max-width: none;
  }
  &.resize {
    height: 4em;
    img {
      max-width: none;
      width: auto;
      height: 100%;
    }
  }
  &.overlay {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

#breadcrumb {
  display: block;
  position: absolute;
  top: -1em;
  font-size: 9px;
  line-height: 1em;
  z-index: 1;
  text-align: right;
  width: 100%;
}

.view-display-id-block_bigslides {
  .views-field-name a,
  .views-field-title a {
    font-size: 200%;
  }
}
