@charset "UTF-8";

// This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).

@import "compass/css3";
@import "compass/typography";

@import "mixin";

html {
  font-size: 12px;
}

// MENUS
// =============================================================================

.zone-user-wrapper {
  position: relative;
  display: block;
  .block {
    .block-title {
      visibility: hidden;
      height: 0;
      margin: 0;
      padding: 0;
      width: 0;
    }
    .contextual-links-wrapper {
      right:-30px;
    }
  }
  .block-user-menu {
    position: absolute;
    right: 0;
    z-index: 50;
  }
}

// main menu styling

.zone-menu-wrapper {
  position: relative;
  display: block;
}

.navigation ul {
  display: block;
  margin: 0;
  li {
    display: table-cell;
    max-width: 12em;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 120%;
    border-right-style: solid;
    border-left-style: solid;
    a {
      padding: 0 1.1em;
      @include title;
      font-weight: bold;
      display: block;
      line-height: 2.6em;
      span {
        display: inline-block;
        line-height: 1.2em !important;
        max-height: 2.4em;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
        padding: 0 1px 2px;
      }
    }
    &:first {
      border-left-style: none;
    }
    &:last {
      border-right-style: none;
    }
  }
  &.inline,
  &.links.inline {
    display: block;
  }
  &.main-menu {
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}

// NESTED DROP-DOWN MENUS
// =============================================================================
.navigation ul.main-menu li {
  ul.main-menu {
    @include transition(opacity, .3s);
    visibility: hidden;
    opacity: 0.2;
    padding: .8em .5em 1em;
    position: absolute;
    width: 15em;
    z-index: 5;
    border-style: none solid solid solid;
    border-width: 0 1px 1px 1px;
    text-align: left;
    font-size: 80%;
    &:hover {
      display: block;
    }
    li {
      display: block;
      float: none;
      max-width: 15em;
      width: 15em;
      font-size: 100%;
      a {
        padding: 0 1em;
      }
    }
    ul {
      border-style: solid;
      border-width: 1px;
      margin-left: 15.5em;
      margin-top: -2.5em;
      font-size: 100%;
      padding: .5em 0;
      li {
        max-width: 15em;
        box-sizing: border-box;
        border: .5em 0;
        &.first {
          position: relative;
          left: -1px;
          border-left-width: 1px;
          border-left-style: solid;
        }
        a {
          max-width: 14em;
          width: 14em;
          margin: 0 .5em;
          box-sizing: border-box;
        }
      }
    }
  }
  &:hover > ul.secondary-items {
    visibility: visible;
    opacity: 1;
  }
}

.page .zone-content-wrapper,
.page .zone-menu-wrapper {
  background-color: transparent;
}

// SKINR OPTIONS FOR MAIN PAGE
// =============================================================================

.page-options-spaced-header {
  .zone-branding-wrapper {
    margin-top: 2em;
  }
}

.page-options-shadowed-page {
  .zone-content-wrapper {
    padding-top: 0;
  }
  &.main-menu-block,
  &.main-menu-overlay {
    .zone-content-wrapper {
      padding-top: 1.25em;
    }
  }
  .zone-content {
    @include box-shadow(0 0 12px);
    @include border-radius(8px);
    box-sizing: content-box;
    padding: 36px 9px 15px;
    margin-bottom: 30px;
  }
}

// COMMERCE
// =============================================================================
.block-commerce-cart {
  .block-inner {
    margin: -20px;
  }
  .view-footer {
    padding: .5em .5em 0;
  }
  .cart-empty-block {
    padding:20px;
  }
}


// STICKY FOOTER
// ---------------------------------------------------------------------------------------------------------------------
html, body {height: 100%; margin: 0;}
#page {display: table; width: 100%;}
html>/**/body #page {height: 100%;}
*:first-child+html #page {height: auto;}
.section {display: table-row;}
html>/**/body .section-content {height: 100%;}
*:first-child+html body .section-content {height: auto;}
footer.section-footer {display:block;}
html body.admin-menu {margin-top:0 !important;}
body.admin-menu #admin-menu-spacer { height:29px; }
