/*
  Document   : preview
  Created on : Sep 2, 2013, 2:27:01 PM
  Author     : david
  Description:
  This stylesheet is for the preview page when modifying theme settings.
*/

@import "compass/css3";
@import "compass/typography";

@import "var";
@import "mixin";

#color_scheme_form {
  h2 { display: none; }
  #preview h2 { display: inherit; }
  #palette .form-item {
    width: 28em;
    height: 1em;
    margin: 0;
    position: relative;
  }
  #palette .form-item label {
    width: 13em;
    font-size: 84%;
  }
  #preview {
    border: 10px solid grey;
    width: 480px;
    overflow: hidden;
    font-size: 90%;
  }
}

#preview {
  a:hover {
    text-decoration: none;
  }
  .section {
    padding: 0 18px;
  }
  #preview-site-name {
    line-height: 1em;
    margin: 25px 12px;
  }
  #preview-user {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  #preview-user-menu {
    @include no-list;
    text-align: right;
    font-size: 85%;
    margin: 0;
  }
  #preview-menu {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    overflow: hidden;
    .navigation {
      ul {
        @include no-list;
        margin: 0;
        li {
          line-height: 1.5em;
          padding: .4em .8em;
          text-align: center;
        }
      }
    }
  }
  #preview-main {
    position:relative;
    z-index:2;
    padding-top:9px;
    padding-bottom:9px;
  }
  #preview-sidebar {
    float: right;
    width: 180px;
    margin-left: 18px;
  }
  #preview-content {
    margin-right: 190px;
  }
  .incubator-user-submitted {
    display: inline-block;
    font-size: 80%;
    padding: 2px 9px;
  }
  .block, .node-teaser {
    padding: 6px 19px;
    margin-bottom: 9px;
    border: 1px solid;
  }
  .block h2.block-title, .node-teaser h2.node-title {
    @include title;
    margin-top: 4px;
    margin-bottom: 6px;
    display: inline-block !important;
    *display: inline !important;
  }
  .section-footer {
    border-top: 1px solid;
    height: 3em;
  }
}

.block,
.node-teaser,
.section-footer
{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6fwYAAtMBznRijrsAAAAASUVORK5CYII=");
}
