@import "compass/css3";

* { 
  background: transparent !important; 
  color: black !important; 
  text-shadow: none !important; 
  filter:none !important; 
  -ms-filter: none !important;
  border-color: lightgray !important;
  @include box-shadow(none !important);
}

body {
  font-size: 10pt;
}

#region-content {
  a, a:visited { 
    text-decoration: underline !important;
  }
  
  .view-id-upcoming_events.view-display-id-page_1,
  .field-name-field-main-image,
  .field-name-field-gallery-images {
    a, a:visited {
      text-decoration: none !important;
    }
  }

  a[href]:after,
  .node-readmore a[href^="/"]:after { 
    content: " (" attr(href) ")"; 
  }

  abbr[title]:after { 
    content: " (" attr(title) ")"; 
  }

  .field-name-field-main-image a[href]:after,
  .field-name-field-gallery-images a[href]:after,
  a[href^="/"]:after,
  a[href^="javascript:"]:after, 
  a[href^="#"]:after { 
    content: ""; 
  }  /* Don't show links for images, or javascript/internal links */
  
  .block {
    border: none;
  }
  
}
  
pre, blockquote { 
  border: 1px solid #999; 
  page-break-inside: avoid; 
}

thead { 
  display: table-header-group; 
} /* h5bp.com/t */

tr, img { 
  page-break-inside: avoid; 
}

img { 
  max-width: 100% !important; 
}

@page { 
  margin: 0.4in;
}

p, h2, h3 { 
  orphans: 3; 
  widows: 3; 
}

h2, h3 { 
  page-break-after: avoid; 
}

/* Theme-specific changes */

#block-system-main {
  border: none !important;
}

#zone-content #region-content { 
  width: 100%;
}

.view-id-upcoming_events.view-display-id-page_1 .view-header,
.fc-button,
#zone-user-wrapper,
#zone-menu-wrapper,
#zone-content aside.region,
#zone-postscript-wrapper,
#block-menu-footer
{ 
  display: none;
}
