@import "compass/css3";
@import "compass/typography";
@import "mixin";

.user-menu-style-bar .zone-user-wrapper {
  .block-user-menu {
    position: static;
    float: right;
    ul {
      @include horizontal-list(0);
      @include menu-borders;
      li {
        @include menu-borders;
        margin: 0;
        padding: 0;
        a {
          display: block;
          line-height: 2em;
          padding: 0 .8em;
          font-weight: normal;
        }
      }
    }
  }
}

.user-menu-style-tabs .zone-user-wrapper {
  .block-user-menu ul {
    @include horizontal-list(.2em);
    overflow: visible;
    li {
      a {
        display: inline-block;
        line-height: 1em;
        padding: .3em 1.2em;
        @include shadow-standard;
        @include border-bottom-radius(8px);
      }
    } 
  }
}
