@charset "UTF-8";
@import "compass/css3";

// Note: most of the .main-menu-block styles are kept with other .block declarations
.main-menu-block nav.navigation {
  padding: .2em 1.5em !important;
}

.main-menu-overlay {
  .region-menu-inner{
    margin-top: -2.6em;
  }
}

.main-menu-narrow-space {
  ul.main-menu li {
    margin-right: .4em !important;
    &.last {
      margin-right: 0 !important;
    }
  }
}

.main-menu-wide-space {
  ul.main-menu li {
    margin-right: 1.2em !important;
    &.last {
      margin-right: 0 !important;
    }
  }
}


.main-menu-narrow-items {
  .navigation ul {
    li a {
      padding: 0 .2em;
    }
    ul li a {
      padding: 0 1.1em;
    }
  } 
}


.main-menu-full-width {
  .navigation {
    float:left;
    > ul.links.main-menu {
      border-bottom: none;
      background-image: none;
    }
  }
  .zone-menu-wrapper {
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}

.main-menu-no-separators {
  ul.main-menu li {
    border: none;
  }
}

.main-menu-dot-separators {
  ul.main-menu  {
    li {
      &:before {
        content: '\2022';
        margin-left: -.15em;
        float: left;
        line-height: 2.6em;
      }
      &.first:before {
        content: '';
      }
    }
    ul li:before {
      content: '';
    }
  }
  &.main-menu-narrow-space ul.main-menu li:before {
    margin-left: -.375em;
  }
  &.main-menu-wide-space ul.main-menu li:before {
    margin-left: -.75em;
  }
}

.main-menu-no-lineunder {
  .navigation ul.main-menu {
    border-bottom: none;
  }
  &.main-menu-full-width {
    .zone-menu-wrapper {
      border-bottom: none;
    }
  }
}

.main-menu-underline-items {
  ul.main-menu {
    li a {
      span {
        border-bottom: 2px solid;
      }
      &.active,
      &.active-trail {
        span {
          border-bottom: none;
        }
      }
    }
    ul li,
    ul li a span {
      border-bottom: none;
    }
  }
}

.main-menu-side-left,
.main-menu-side-center,
.main-menu-side-right {
  .region-menu-inner {
    margin-bottom: -1em;
  }
  .navigation {
    display: inline-block;
  }
}
.main-menu-side-left .region-menu-inner {
  text-align: left;
}
.main-menu-side-center .region-menu-inner {
  text-align: center;
}
.main-menu-side-right {
  .region-menu-inner {
    text-align: right;
  }
  &.main-menu-full-width .navigation {
    float: right;
  }
}
