@charset "UTF-8";
@import "compass/css3";

.block-styles-no-borders {
  &.block,
  .section-content .block,
  &.main-menu-block .navigation
  {
    border: none !important;
  }
}

.block-styles-no-background {
  &.block,
  .section-content .block,
  &.main-menu-block .navigation
  {
    background-color: transparent !important;
    background-image: none !important;
  }
}

.block-styles-rounded {
  &.block,
  .section-content .block,
  &.main-menu-block .navigation
  {
    @include border-radius(5px);
  }
}

.block-styles-heavy {
  &.block,
  .section-content .block,
  &.main-menu-block .navigation
  {
    border-bottom-width: 3px !important;
  }
}

.block-styles-shadowed {
  &.block,
  .section-content .block,
  &.main-menu-block .navigation
  {
    @include single-box-shadow(rgba(0,0,0,0.5), 0, 0, 5px);
  }
}
