@import "compass/css3";
@import "compass/typography";
@import "mixin";

.sitename-softshadow .site-name-slogan {
  @include text-shadow(2px 2px 2px rgba(black,0.5));
}

.sitename-strongshadow .site-name-slogan {
  @include text-shadow(2px 2px 2px rgba(black,0.8));
}
  
.sitename-raisedshadow .site-name-slogan {
  @include text-shadow(-1px 1px 2px rgba(white,0.5), -3px 6px 5px rgba(black,0.5));
}

.sitename-threedraised .site-name-slogan {
  @include text-shadow(0 1px 0 #333333, 0 2px 0 #151515, 1px 3px 2px rgba(white,0.4), 2px 4px 4px rgba(black,0.5));
}

.sitename-threedinset .site-name-slogan {
  h1, h6, a:link, a:visited, a:hover, a:active {
    color: rgba(0,0,0,0.1) !important;
    @include text-shadow(0 1px 0 rgba(white,0.2), 1px 0 0 rgba(white,0.2), 0 -1px 0 rgba(black,0.3));
  }
}
