.block-separators-dotted {
  .view .view-content .views-row
  
  {
    border-bottom-style: dotted;
  }
}

.block-separators-dashed {
  .view .view-content .views-row {
    border-bottom-style: dashed;
  }
}

.block-separators-lightgray {
  .view .view-content .views-row
  {
    border-color: #cecece;
  }
}

.block-separators-gray {
  .view .view-content .views-row
  {
    border-color: #999999;
  }
}

.block-separators-darkgray {
  .view .view-content .views-row
  {
    border-color: #666666;
  }
}

.block-separators-none {
  .view .view-content .views-row
  {
    border-bottom: none;
  }
}

