@charset "UTF-8";
@import "compass/css3";

.page-options-inset-header {
  .zone-user-wrapper,
  .zone-menu-wrapper {
    @include single-box-shadow(0, 0, 15px, 0, rgba(0,0,0,0.5));
  }
}

.main-block-no-styling .section-content {
  ul.primary {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .block.block-system-main {
    background: transparent;
    border: none;
    @include box-shadow("none");
    padding-top: 5px;
  }
  .region-content .block-incubator-mapping-node-map {
    display: inline-block;
  }
}

.page-options-background-bottom {
  #page { 
    background-size:contain !important;
  }
  .section-footer {
    border: none; 
    background: transparent;
    font-weight: bold;
  }
  .zone-content-wrapper {
    padding-bottom: 0;
    @media all and (max-width:739px) {
      background: transparent;
    }
  }
  &.page-options-shadowed-page {
    .zone-content {
      background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.8),rgba(255, 255, 255, 0.4));
    }
    @media all and (max-width:739px) {
      .zone-content {
        background: transparent;
      }
      .section-content {
        background:linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,.9) 10%);
      }
      .section-header {
        background: rgba(255,255,255,0.9);
      }
    }
  }
}

