@charset "UTF-8";
@import "compass/css3";

.block-bg-border,
.block-bg-pagebg,
.block-bg-white {
  &.main-menu-block nav.navigation,
  &.main-menu-block nav.navigation ul ul,
  ul.primary li.active a,
  .section-content article.node-teaser,
  .section-content .block,
  .section-footer {
    background-image: none;
  }
}

.section-content .block.block-bg-border,
.section-content .block.block-bg-white,
.section-content .block.block-bg-pagebg {
  background-image: none;
}

.block-bg-pagebg.block-styles-no-borders {
  ul.primary {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.block-bg-white {
  &.main-menu-block div nav.navigation,
  &.main-menu-block nav.navigation ul.links ul,
  ul.primary li a,
  ul.primary li.active a,
  .section-content article.node-teaser,
  .section-content .block,
  .section-footer {
    background-color: #ffffff;
  }
}
.section-content .block.block-bg-white {
  background-color: #ffffff;
}

.block-bg-light {
  &.main-menu-block nav.navigation,
  &.main-menu-block nav.navigation ul ul,
  ul.primary li.active a,
  .section-content .block, 
  .section-footer {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6Xw8AAoYBgRDEVrUAAAAASUVORK5CYII=");
  }
}
.section-content .block.block-bg-light {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6Xw8AAoYBgRDEVrUAAAAASUVORK5CYII=");
}
