@charset "UTF-8";
@import "compass/css3";
@import "mixin";

.taxonomy-terms-buttons .node {
  .field-type-taxonomy-term-reference .field-item a {
    @include link-btn;
    font-weight: bold;
  }
}

.taxonomy-terms-small .node {
  .field-type-taxonomy-term-reference .field-item a {
    font-size: 75%;
    opacity: .8;
    font-weight: normal;
  }
}
