/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-baskerville {
  font-family: "Ubuntu", sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Baskerville", serif;
  }
  .site-slogan {
    font-family: Ubuntu, sans-serif;
  }
  .block h2.block-title {
    font-family: "Libre Baskerville", serif;
    font-size: 120%;
  }
  #page-title {
    font-family: "Libre Baskerville", serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: "Libre Baskerville", serif;
    font-size: 90%;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: "Libre Baskerville", serif;
    /*font-size:*/
  }
}

