/*
  Document   : bree
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bree and Imprima typography for prograde theme.
*/

.typ-bree {
  font-family: Imprima, sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Bree Serif", serif;
  }
  .block h2.block-title {
    font-family: Imprima, sans-serif;
    font-size: 110%;
    font-style: italic;
  }
  #page-title {
    font-family: "Bree Serif", serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu {
    font-size: 84%;
    li a {
      font-family: Imprima, sansserif;
    }
  } 
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: Imprima, sans-serif;
    /*font-size:*/
  }
}

