/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-example {
  /*font-family:*/
  h1, h2, h3, h4, h5, h6 {
    /*font-family:*/
  }
  #page-title {
    /*font-family:*/
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    /*font-family:*/
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    /*font-family:*/
    /*font-size:*/
  }
}

