/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-josefin {
  font-family: "Maven Pro", sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Maven Pro", serif;
    font-weight: bold;
  }
  .block h2.block-title {
    font-family: "Josefin Slab";
  }
  #page-title {
    font-family: "Josefin Slab";
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: "Maven Pro", sans-serif;
    font-weight:bold;
    font-size: 90%;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: "Josefin Slab", sans-serif;
  }
}

