/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-modern {
  font-family: Gafata, Arial, sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Julius Sans One", sans-serif;
  }
  .site-name {
    font-size: 200%;
  }
  .site-slogan {
    font-family: Gafata, Arial, sans-serif;
    letter-spacing: .05em;
  }
  h2.block-title {
    font-family: Economica, "Arial Narrow", Arial, sans-serif;
  }
  #page-title {
    font-family: "Julius Sans One", sans-serif;
    /*font-size:*/
    /*font-weight:*/
  }
  ul.main-menu li {
    font-size: 135%;
  }
  #main-menu li a {
    font-family: Economica, "Arial Narrow", Arial, sans-serif;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: Gafata, Arial, sans-serif;
    /*font-size:*/
  }
}

