/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-montserrat {
  font-family: "Pontano Sans", sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-variant: small-caps;
  }
  .site-name {
    line-height: .8em;
  }
  .site-slogan {
    font-family: "Pontano Sans", sans-serif;
    font-variant: normal;
    letter-spacing: .06em;
    margin-top: .2em;
  }
  .block h2.block-title {
    font-size: 110%;
  }
  #page-title {
    font-family: Montserrat, sans-serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: Montserrat, sans-serif;
    font-size:90%;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: Montserrat, sans-serif;
    font-variant: small-caps;
    /*font-size:*/
  }
}

