/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-newsy {
  font-family: Georgia, "Times New Roman", Times, serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
  }
  .site-name {
    font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif;
    font-variant: small-caps;
    font-size: 220%;
  }
  .site-slogan {
    font-weight:normal;
  }
  
  .block h2.block-title {
    font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 120%;
  }  
  #page-title {
    font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif;
    font-variant: small-caps;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .block {
    font-family: "Arial Narrow", Arial, sans-serif;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif;
    font-variant: small-caps;
  }
  
  button, 
  .more-link a,
  a.more-link,
  input[type="reset"], 
  input[type="submit"], 
  input[type="button"] {
    font-family: "Arial Narrow", Arial, sans-serif;
  }

}

