/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-oswald {
  font-family: Muli, sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, sans-serif;
  }
  .site-name {
    font-size: 200%;
    margin-bottom: .15em;
  }
  .site-slogan {
    font-family: Muli, sans-serif;
  }
  #page-title {
    font-family: Oswald, sans-serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: Oswald, sans-serif;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: Muli, sans-serif;
    font-weight: bold;
    /*font-size:*/
  }
}

