/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-paytone {
  font-family: "Droid Sans", sans-serif;
  .region-content .block {
    line-height: 1.6em;
  }
  h1, h2 {
    font-family: "Paytone One", serif;
    font-weight: normal;
  }
  h3, h4, h5, h6 {
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
  }
  .site-name {
    margin-bottom: .2em;
  }
  .block h2.block-title {
    font-size: 120%;
  }
  #page-title {
    font-family: "Paytone One", serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: "Droid Sans", sans-serif;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
    font-size: 140%;
  }
}

