/*
  Document   : prograde
  Created on : Sep 16, 2013, 10:46:55 AM
  Author     : david
  Description:
  Original typography for prograde theme
*/

.typ-prograde {
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', arial, sans-serif;
  }
  #page-title {
    font-family: 'Roboto Slab', arial, sans-serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: 'Roboto Slab', arial, sans-serif;
  }
  .view-display-id-block_bigslides .views-field-name a {
    font-family: 'Roboto Slab', arial, sans-serif;
    /*font-size:*/
  }
}

