/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-pt {
  font-family: "PT Sans", sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif Caption", serif;
  }
  .site-slogan {
    font-family: "PT Sans", sans-serif;
    letter-spacing: .05em;
  }
  #page-title {
    font-family: "PT Serif Caption", serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: "PT Serif Caption", serif;
    font-size: 85%;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: "PT Sans", sans-serif;
    font-size: 180%;
  }
}

