/*
  Document   : bartik
  Created on : Sep 16, 2013, 10:11:37 AM
  Author     : david
  Description:
  Bartik-style typography for prograde theme.
*/

.typ-robotoworld {
  font-family: Roboto, sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
  }
  h1, h2 {
    font-variant: small-caps;
  }
  .site-name {
    margin-bottom: .1em;
    font-variant: normal;
  }
  .site-slogan {
    font-style: italic;
    font-variant: normal;
  }
  #page-title {
    font-family: Roboto, sans-serif;
    /*font-size:*/
    /*font-weight:*/
  }
  #main-menu li a {
    font-family: Roboto, sans-serif;
    font-variant: small-caps;
    font-size: 95%;
  }
  .view-display-id-block_bigslides .views-field-title a,
  .view-display-id-block_bigslides .views-field-name a {
    font-family: Roboto, sans-serif;
    font-size: 160%;
  }
}

